APP_NAME="Vue3 Laravel Admin"
APP_ENV=staging
COMPOSE_ENV=testing
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8080
APP_LOCALE=zh_CN
APP_FALLBACK_LOCALE=en
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=vue3-laravel-admin_testing
DB_USERNAME=root
DB_PASSWORD=
SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync
LOG_CHANNEL=stderr
MAIL_MAILER=log
JWT_SECRET=
DOCKER_HTTP_PORT=8080
DOCKER_DB_PASSWORD=
MYSQL_ROOT_PASSWORD=
VITE_SERVICE_BASE_URL=/proxy-default
VITE_HTTP_PROXY=N

API_DOCS_ENABLED=true
